.ql-container {
  border: none !important; /* Remove the border of the editor container */
}

.ql-toolbar {
  border: none !important; /* Remove the border of the toolbar */
}

.ql-editor {
  border: none !important; /* Remove the border of the editor itself */
}